@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
  --MeivRed: #ce0e2d;
  --MeivGreen:#006857;
  --MeivDarkGray: #1D1D1E;
  --MeivYellow: #FBB03B;
  --MeivGray: #808080;
  --MeivLightGray: #838383;
  --MeivMatteBlack: #0b0b0b;
}

html {
  font-family: "Audiowide", sans-serif;
}

/* #region Animation */

@keyframes opacity-change {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

/* #endregion */

/* #region Animation classe  */

.opacity-anim{
  animation-name: opacity-change;
  animation-duration: 1.5s;
  animation-timing-function: ease-in;
}

/* #endregion */

/* #region Background-Image */

  .bg-image{
    background-image: linear-gradient(to bottom, rgba(206, 14, 45, 0.2), rgba(206, 14, 45, 0.2)), url('assets/background.jpg');
    background-size:cover;
  }

/* #endregion */